# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
build/
downloads/
var/

# Environments
.env
.env.local
.venv

# VS Code
.vscode/